* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: magenta;
    font-family: Arial, Helvetica, sans-serif;
}

.big-container {
    width: 80%;
    margin: 20px auto;
}

.big-container h2, .big-container .form-biglietto {
    text-align: center;
}

h2 {
    color: #fff;
}

.form-biglietto {
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px rgba(0,0,0,0.7);
}

.container-select {
    display: flex;
    justify-content: center;
}

.col-nome, .col-eta, .col-km {
    margin-left: 20px;

}


.form-biglietto, .totale-biglietto {
    background-color: #fff;
    padding: 30px;
    margin: 30px 0;
}

.totale-biglietto {
    border-radius: none;
}

label, button {
    color: magenta;
    font-weight: 700;
}

button {
    border: 1px solid magenta;
    padding: 5px;
    border-radius: 5px;
}

.btn-form {
    margin-top: 20px;
}

.totale-biglietto {
    display: none;
}

.totale-biglietto.mostra {
    display: block;
}

.dati-container {
    display: flex;
    /* justify-content: space-around; */
    border: 1px solid grey;
}

h3 {
    color: #000;
    margin-bottom: 10px;
}

.col-1 {
    background-color: gray;
    font-weight: 700;
}

.col-1, .col-2, .col-3, .col-4, .col-5 {
    margin-right: 20px;
    padding: 15px;
}

.dato-fisso {
    font-weight: 700;
    margin-bottom: 50px;
}